{% extends 'base.html' %} {% block content %}
<h1 class="m-3">All Customers</h1>

<a href="/orders/add/customers/" class="m-3">
  <button class="btn btn-warning">Add Customers</button>
</a>

<table class="m-3">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Customer Since</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in all_customers %}
        <tr>
            <td>{{customer.customer_name}}</td>
            <td>{{customer.customer_since}}</td>
            <td>
                <a href="{% url 'customer_update' customer.id %}"
                ><button class="btn btn-primary">Update</button></a
                >
            </td>
            <td>
                <a href="{% url 'customer_delete' customer.id %}">
                <button class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
