<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn | Page</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="mb-4">Login Page</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmaill" class="form-label">Username</label>
                        <input type="text" class="form-control bg-secondary text-light" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPasswordl" class="form-label">Password</label>
                        <input type="password" class="form-control bg-secondary text-light" name="password" id="exampleInputPassword1">
                    </div>
                    <p class="text-danger fw-bold">{{error}}</p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <p class="float-end">
                        New User ? <a class="text-info" href="/signup/">Create User</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>