{% extends 'base.html' %} {% block content %}

<h1 class="mx-3">ORDERS LIST</h1>

{% if request.user.role == 0 or request.user.role == 2 %}

<a href="/orders/add/orders/" class="m-3"><button class="btn btn-warning">Add New Order</button></a>

{% endif %}

<table class="m-3">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Product</th>
      <th>Order Number</th>
      <th>Date</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>Gst Amount</th>
      <th>Bill Amount</th>
      {% if request.user.role == 0 or request.user.role == 2 %}
      <th>Update</th>
      <th>Delete</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for order in all_orders %}
    <tr>
      <td>{{order.customer_reference}}</td>
      <td>{{order.product_reference}}</td>
      <td>{{order.order_number}}</td>
      <td>{{order.order_date}}</td>
      <td>{{order.quantity}}</td>
      <td>{{order.amount}}</td>
      <td>{{order.gst_amount}}</td>
      <td>{{order.bill_amount}}</td>
      {% if request.user.role == 0 or request.user.role == 2 %}
      <td>
        <a href="{% url 'order_update' order.id %}"><button class="btn btn-primary">Update</button></a>
      </td>
      <td>
        <a href="{% url 'order_delete' order.id %}"><button class="btn btn-danger">Delete</button></a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}